@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';

.map-row-wrapper {
  position: relative;
}

.google-map-outer {
  text-align: center;
}

.google-map {
  height: 280px;
  width: 312px;

  &.actual {
    position: absolute;
    top: 0;
  }
}

.borough-card {
  display: none;
}

@include media-breakpoint-down(md) {
  .google-map-outer {
    padding: 0;
  }

  .map-row-wrapper {
    margin-top: 1rem;
  }

}
