@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';

h3 {
  @include open-sans(1.3rem, $blue, $semi-bold);
  margin-bottom: 1rem;
}

.cta-box-outer {
  text-align: center;
}

.cta-buttons-box {
  display: inline-block;
  max-width: 720px;
}

.facts-row {
  margin: 1rem 0 0;
}

.facts-box {
  display: inline-block;
  max-width: 600px;
}

.facts-carousel {
  list-style: none;
  margin-left: -.2rem;
  overflow: hidden;
  padding: 0 0 0 .2rem;

  .fact-panel {
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 50px -5px;
    min-height: 250px;
    padding-left: 5px;
    //-webkit-touch-callout:  none;  //iOS Safari
    -khtml-user-select: none; ///Konqueror HTML
    -moz-user-select: none; //Firefox
    -ms-user-select: none; //Internet Explorer/Edge
    -webkit-user-select: none; //Safari
    user-select: none; //Non-prefixed version, currently supported by Chrome and Opera

    vertical-align: top;
    white-space: normal;
    width: 100%;

    > p {
      @include open-sans(1.3rem, $blue, $semi-bold);
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }
}

.fact-carousel-indicators {
  bottom: 0;
  left: 0;
  list-style: none;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 15;

  li {
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    text-indent: -999px;
    width: 20px;

    &.active {
      background-color: $cyan;
    }
  }
}

@include media-breakpoint-down(md) {
  .facts-carousel {
    .fact-panel {
      margin-bottom: 30px;
      min-height: 210px;

      > p {
        font-size: .8rem;
      }
    }
  }

  .facts-row {
    margin-top: 0;
  }

}

@include media-breakpoint-down(sm) {
  .cta-box-outer-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .cta-box-outer {
    padding: 0;
  }

  .container-lower {
    margin-bottom: 0;
  }

  .cta-buttons-box {
    max-width: none;
  }
}
