@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';
$feature: rgb(239, 146, 39);
$feature-shadow: #9c6617;

.cta-box-outer {
  text-align: center;
}

.cta-buttons-box {
  display: inline-block;
  max-width: 720px;
}

h3 {
  @include open-sans(1.3rem, $blue, $semi-bold);
  margin-bottom: 1rem;
}

.block-text h4 ~ h5 {
  margin-top: 2.5rem;
}

.block-text h5 {
  color: $blue-dark;
  font-size: 1.1rem;
}

.orange-section {
  .card-outline-success {
    border-color: $feature;
    h4 {
      color: $feature;
    }
  }
  a {
    font-weight: 600;
  }
  h4,
  a {
    color: $feature;
  }
  a.btn-tel.btn-cta {
    width: 100%;
    color: $white;
    background-color: $feature;
    border-color: $feature-shadow;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }
}

/*
.card.card-outline-success h4 {
  color: $blue;
}

.about-block-text p:last-child {
  margin-bottom: 0;
}

.card.card-outline-success h4 {
  color: #00a2a4;
}

.tel {
  color: #00a2a4;
  background-image: url('/bundles/app/images/button/phone-yellow.png');
}

.btn-cta.btn-success {
  background-color: #00a2a4;
  border-color: #045858;
}

.tel-cont:not(.website) .tel-text {
  background-image: url('/bundles/app/images/button/phone-yellow.png');
}
*/
