@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';

.card {
  .website-link {
    display: inline-block;
    min-width: 60%;
  }

  .social-links {
    .website-link {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      min-width: 0;
      overflow: hidden;
      padding: 1.2rem;
      text-indent: -1000px;
      vertical-align: top;
      width: 110px;

      &.f {
        background-image: url($asset-image-base + 'button/icon_facebook.png');
        background-size: 17.5px 33.5px;
      }

      &.t {
        background-image: url($asset-image-base + 'button/icon_twitter.png');
        background-size: 37px 31px;
      }

      &.l {
        background-image: url($asset-image-base + 'button/icon_linkedin.png');
        background-size: 34.5px 34.5px;
      }
    }
  }

  .form-control {
    cursor: pointer;
    font-weight: $semi-bold;
    text-align: center;
  }

  .badge-pill {
    background: $white;
    border: 1px solid $green;
    color: $green-dark;
    display: none;
    left: 50%;
    margin-left: -125px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    width: 250px;
  }
}

@include media-breakpoint-down(md) {
  .card {
    .social-links {
      .website-link {
        padding-left: .5rem;
        padding-right: .5rem;
        width: 75px;
      }
    }
  }

  .form-control-lg {
    font-size: .85rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
