@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';

.btn-cta {
  font-size: .9rem;
  min-width: 320px;

  &.btn-success {
    font-size: 1.4rem;
    padding: 1.5rem;
  }
}

.home-feature {
  background: url($asset-image-base + 'main/home_header.png') 50% 66% no-repeat $white;
  background-size: auto 427.5px;
  height: 250px;
  z-index: 1;
}

.welcome {
  @include roboto(2.3rem, $white);
  text-shadow: 0 1.5px 1.5px rgba($black, .24);

  .small {
    font-size: 1.6rem;
  }
}

.home-bottom {
  //flex-basis: 0;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

.triples-row {
  .home-right-bg {
    background: $white;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 30%;

    + .home-right {
      display: none;
    }
  }

  .col-lg,
  .col-12 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .home-right {
    background: $white;
    text-align: center;
  }
}


.fact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;

  li {
    margin: 30px 0 0;
    padding: 0;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }

  .fact-icon {
    margin-bottom: 5px;

    &.map {
      height: 71.5px;
      width: 91px;
    }

    &.stop {
      height: 87px;
      width: 87px;
    }

    &.stop-smoking {
      height: 82px;
      width: 81.5px;
    }
  }

  .fact {
    @include open-sans(.9rem, $blue, $semi-bold);
    display: block;
  }
}

h3 {
  @include open-sans(1.3rem, $blue, $semi-bold);
  margin-bottom: 1rem;
}

.h3-outer {
  margin-bottom: 1rem;
  position: relative;

  h3 {
    margin-bottom: 0;
  }
}

.news-header {
  display: inline-block;
  position: relative;
}

.twitter-profile-link {
  @include open-sans(.85rem, $gray, $semi-bold);
  bottom: 0;
  position: absolute;
  right: 0;

  .icon {
    background: url($asset-image-base + 'logo/footer_twitter.png') 50% 0 no-repeat;
    background-size: 14.5px 200%;
    height: 12px;
    width: 15px;
  }

  &:hover,
  &:focus {
    color: $blue;

    .twitter-icon {
      background-position: 50% 100%;
    }
  }
}

.carousel-container {
  padding-bottom: 60px;
  position: relative;
}

.news-carousel {
  list-style: none;
  margin-left: -.2rem;
  overflow: hidden;
  padding: 0 0 0 .2rem;

  .news-panel {
    box-sizing: content-box;
    display: inline-block;
    margin: 0 5px 0 -5px;
    padding-left: 5px;
    vertical-align: top;
    white-space: normal;
    width: 100%;
  }
}

.news-carousel-indicators {
  display: none;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 15;
  text-align: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;

  li {
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    text-indent: -999px;
    width: 20px;

    &.active {
      background-color: $cyan;
    }
  }
}

.twitter-card {
  @include open-sans(1rem);
  border: 0;
  border-bottom: 3px solid $blue;
  border-radius: 0;
  width: 100%;

  .card-block {
    padding-bottom: 1rem;
    padding-top: 1.25rem;
  }

  .retweet-tag {
    margin: -1rem 0 15px -1.45rem;
    position: relative;

    .text {
      @include open-sans(.75rem, $white, $semi-bold);
      background: url($asset-image-base + 'icon/twitter_retweet.png') 5px 50% no-repeat $gray-light;
      background-size: 17px auto;
      padding: 2px 5px 2px 27px;
    }
  }

  .twitter-user {
    @include open-sans(.75rem, $gray, $semi-bold);

    img {
      background: $blue;
      border: 0;
      height: 23px;
      width: 23px;
    }

    h5 {
      font-size: inherit;
      font-weight: inherit;
    }

    &:hover {
      color: $blue;
    }
  }


  .view-tweet {
    @include open-sans(.75rem, $gray);

    &:hover {
      color: $blue;
    }
  }
}


@include media-breakpoint-down(lg) {
  .news-header {
    display: block;
  }

  .twitter-profile-link {
    display: inline-block;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      height: 5px;
      position: relative;
      width: 100%;
    }
  }

  .twitter-card {
    font-size: .9rem;
  }
}

@include media-breakpoint-down(md) {
  .home-feature {
    background-position: 45% 66%;
    background-size: auto 427.5px;
    height: 250px;
  }

  .welcome {
    font-size: 2.1rem;

    .small {
      font-size: 1.5rem;
    }
  }

  .fact-list {
    width: 100%;

    .fact {
      font-size: .95rem;
    }
  }

  h3,
  .h3-outer {
    text-align: center;
  }

  .news-col {
    padding-left: 0;
    padding-right: 0;
  }

  .news-carousel {
    margin-left: 0;
    padding-left: 0;
  }

  .carousel-container {
    padding-bottom: 0;
  }

  .news-carousel-indicators {
    display: none !important;
  }

  .news-panel {
    display: block !important;
  }

  .twitter-card .retweet-tag {
    margin-left: -1.25rem;
  }

  .triples-row {
    .home-right-bg {
      display: none;

      + .home-right {
        display: block;
      }
    }

    .news-col + .home-right {
      background: transparent;
    }
  }

  .btn-cta {
    font-size: .8rem;
    min-width: 290px;

    &.btn-success {
      font-size: 1.2rem;
    }
  }
}
