@import 'bower/bootstrap/scss/variables';
@import 'bower/bootstrap/scss/mixins';
@import 'bower/bootstrap/scss/custom';

.page-header-2 {
  &.postcode-header {
    margin-top: 2rem;
  }

  &.two-steps {
    margin-bottom: 1rem;
  }
}

.postcode-group,
.borough-group {
  margin-top: 1rem;

  .form-text {
    font-size: .8rem;
  }
}

%large-cta {
  font-size: 1.25rem;
  line-height: 1.25;
  padding: .71rem 1.5rem;
}

.form-group {
  .btn-cta {
    @extend %large-cta;
    display: block;
  }

  .form-control-feedback {
    font-size: .9rem;
    font-weight: $semi-bold;
    text-align: left;
  }
}

.email-thanks {
  display: none;
  margin: 2rem 0 .5rem;
}

.website-link {
  @extend %large-cta;
  width: auto;
}

.borough-group {
  .btn {
    font-size: inherit;
    padding: .7rem 1.5rem;
  }
}

.row.hidden {
  display: none;

  +.stop-smoking-london-info-row {
    display: none;
  }
}

.tel {
  @include open-sans(3rem, $green, $semi-bold);
  background: url($asset-image-base + 'icon/telephone.png') 0 55% no-repeat;
  background-size: 28px 37px;
  line-height: 3rem;
  padding-left: 38px;
}

.col-image {
  height: 120px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.alone-tips {
  padding-left: 30px;
  padding-right: 30px;

  > .row {
    margin-left: -30px;
    margin-right: -30px;

    > .col,
    > [class*="col-"] {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .page-header-2 {
    &.postcode-header {
      margin-top: 0;
    }
  }

  .postcode-group {
    margin-bottom: .5rem;
  }
}

@include media-breakpoint-down(md) {
  .page-header-2 {
    &.postcode-header {
      margin-top: 1rem;
    }
  }

  .postcode-group,
  .borough-group {
    margin-top: .6rem;

    .form-text {
      font-size: .65rem;
      margin-bottom: 0;
    }

    .dropdown-menu {
      font-size: .8rem;
    }
  }

  .form-group {
    .btn-cta,
    .form-control-lg,
    .btn-lg {
      font-size: 1rem;
      padding-left: .8rem;
      padding-right: .8rem;
    }
  }

  .website-link {
    font-size: 1rem;
  }

  .tel {
    background-size: 18px auto;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding-left: 23px;
  }
}
