/* line 5, assetic_compass1FuHzc.scss */
.map-row-wrapper {
  position: relative;
}

/* line 9, assetic_compass1FuHzc.scss */
.google-map-outer {
  text-align: center;
}

/* line 13, assetic_compass1FuHzc.scss */
.google-map {
  margin-left: 40px;
}
/* line 16, assetic_compass1FuHzc.scss */
.google-map.actual {
  position: absolute;
  top: 0;
}

/* line 22, assetic_compass1FuHzc.scss */
.borough-card {
  display: none;
}

@media (max-width: 991px) {
  /* line 27, assetic_compass1FuHzc.scss */
  .google-map-outer {
    padding: 0;
  }

  /* line 31, assetic_compass1FuHzc.scss */
  .google-map {
    margin-left: 0;
  }

  /* line 35, assetic_compass1FuHzc.scss */
  .map-row-wrapper {
    margin-top: 0;
  }
}
