/* line 6, assetic_compassYNEbWA.scss */
.bootstrap-select .dropdown-menu {
  min-height: 140px !important;
}

/* line 12, assetic_compassYNEbWA.scss */
.page-header-2.postcode-header {
  margin-top: 0;
}
/* line 16, assetic_compassYNEbWA.scss */
.page-header-2.two-steps {
  margin-bottom: 1.2rem;
  padding: 0 15px;
}

/* line 22, assetic_compassYNEbWA.scss */
.postcode-group,
.borough-group {
  margin-top: 1rem;
}
/* line 26, assetic_compassYNEbWA.scss */
.postcode-group .form-text,
.borough-group .form-text {
  font-size: .8rem;
}
/* line 30, assetic_compassYNEbWA.scss */
.postcode-group .btn-cta,
.borough-group .btn-cta {
  margin-left: 10px;
}

/* line 35, assetic_compassYNEbWA.scss */
.form-group .btn-cta, .website-link {
  font-size: 1.25rem;
  line-height: 1.25;
  padding: .71rem 1.5rem;
}

/* line 42, assetic_compassYNEbWA.scss */
.form-group .btn-cta {
  display: block;
}
/* line 47, assetic_compassYNEbWA.scss */
.form-group .form-control-feedback {
  font-size: .9rem;
  font-weight: 600;
  text-align: left;
}

/* line 54, assetic_compassYNEbWA.scss */
.email-thanks {
  display: none;
  margin: .5rem 0 0;
}
/* line 58, assetic_compassYNEbWA.scss */
.email-thanks h5 {
  color: #15ce75;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin: 0;
}
/* line 63, assetic_compassYNEbWA.scss */
.email-thanks p {
  color: #15ce75;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  line-height: normal;
}

/* line 69, assetic_compassYNEbWA.scss */
.website-link {
  width: auto;
}

/* line 75, assetic_compassYNEbWA.scss */
.borough-group .btn {
  font-size: inherit;
  padding: .7rem 1.5rem;
}

/* line 81, assetic_compassYNEbWA.scss */
.row.hidden {
  display: none;
}
/* line 84, assetic_compassYNEbWA.scss */
.row.hidden + .stop-smoking-london-info-row {
  display: none;
}

/* line 89, assetic_compassYNEbWA.scss */
.tel {
  color: #15ce75;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  background: url("/bundles/app/images/icon/telephone.png") 0 55% no-repeat;
  background-size: 28px 37px;
  line-height: 3rem;
  padding-left: 38px;
}

/* line 98, assetic_compassYNEbWA.scss */
.website .tel {
  display: none;
}
/* line 102, assetic_compassYNEbWA.scss */
.website .btn-cta.hidden-md-up {
  display: inline-block !important;
  font-size: 1.25rem;
  line-height: 1.25;
  padding: .71rem 1.5rem;
}

/* line 110, assetic_compassYNEbWA.scss */
.col-image {
  height: 120px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

/* line 130, assetic_compassYNEbWA.scss */
.alone-tips p {
  font-size: 1rem;
}

@media (max-width: 1199px) {
  /* line 137, assetic_compassYNEbWA.scss */
  .page-header-2.postcode-header {
    margin-top: 0;
  }

  /* line 142, assetic_compassYNEbWA.scss */
  .postcode-group {
    margin-bottom: .5rem;
  }
}
@media (max-width: 991px) {
  /* line 149, assetic_compassYNEbWA.scss */
  .page-header-2.postcode-header {
    margin-top: 1rem;
  }

  /* line 154, assetic_compassYNEbWA.scss */
  .postcode-group,
  .borough-group {
    margin-top: .6rem;
  }
  /* line 158, assetic_compassYNEbWA.scss */
  .postcode-group .form-text,
  .borough-group .form-text {
    font-size: .7rem;
    margin-bottom: 0;
  }
  /* line 163, assetic_compassYNEbWA.scss */
  .postcode-group .dropdown-menu,
  .borough-group .dropdown-menu {
    font-size: .8rem;
  }

  /* line 169, assetic_compassYNEbWA.scss */
  .form-group .btn-cta,
  .form-group .form-control-lg,
  .form-group .btn-lg {
    font-size: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
  }

  /* line 178, assetic_compassYNEbWA.scss */
  .website-link {
    font-size: 1rem;
  }

  /* line 182, assetic_compassYNEbWA.scss */
  .tel {
    background-size: 18px auto;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding-left: 23px;
  }

  /* line 190, assetic_compassYNEbWA.scss */
  .form-group .form-control-feedback {
    font-size: .8rem;
    margin-bottom: .75rem;
  }

  /* line 196, assetic_compassYNEbWA.scss */
  .top-map-row {
    margin: 0;
    padding: 0 15px;
  }

  /* line 202, assetic_compassYNEbWA.scss */
  .alone-tips p {
    font-size: .8rem;
  }

  /* line 208, assetic_compassYNEbWA.scss */
  .card .btn-tel {
    font-size: 1.7rem;
  }
  /* line 212, assetic_compassYNEbWA.scss */
  .card .tel-cont:not(.website) .tel-text {
    background: url("/bundles/app/images/button/phone.png") 0 55% no-repeat;
    background-size: 20.5px 27.5px;
    display: inline-block;
    padding-left: 25.5px;
  }

  /* line 221, assetic_compassYNEbWA.scss */
  .jumbotron .h2-outer {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  /* line 229, assetic_compassYNEbWA.scss */
  .card .form-control-lg {
    margin-top: .5rem;
  }
}
