/* line 5, assetic_compassAxcPJA.scss */
.home-feature {
  background: #51bce6;
  height: 250px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
/* line 12, assetic_compassAxcPJA.scss */
.home-feature > [class*="col-"] {
  z-index: 2;
}
/* line 16, assetic_compassAxcPJA.scss */
.home-feature .jumbotron-feature-image-outer {
  display: block;
}
/* line 20, assetic_compassAxcPJA.scss */
.home-feature .jumbotron-feature-image {
  background-image: url("/bundles/app/images/main/header_home.jpg");
  background-size: 2440px 300px;
  height: 300px;
  z-index: 1;
}

/* line 28, assetic_compassAxcPJA.scss */
.welcome {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  letter-spacing: .02rem;
  margin-bottom: 0;
  padding-left: 30px;
}
/* line 34, assetic_compassAxcPJA.scss */
.welcome .small {
  background: #0a76e5;
  display: inline-block;
  font-size: 1.6rem;
  padding: .4rem .8rem;
}
/* line 41, assetic_compassAxcPJA.scss */
.welcome .large {
  background: #1866b8;
  display: inline-block;
  padding: .3rem .8rem .7rem;
}

/* line 48, assetic_compassAxcPJA.scss */
.facts-header-outer {
  overflow: hidden;
}

/* line 52, assetic_compassAxcPJA.scss */
.facts-header {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin: 0;
  padding: 2.5rem 0;
  text-align: center;
}

/* line 59, assetic_compassAxcPJA.scss */
.home-bottom {
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

/* line 67, assetic_compassAxcPJA.scss */
.triples-row > .col-lg,
.triples-row > [class*="col-"] {
  padding-bottom: 30px;
  padding-top: 30px;
}
/* line 73, assetic_compassAxcPJA.scss */
.triples-row .home-features-outer {
  max-width: 750px;
}
/* line 77, assetic_compassAxcPJA.scss */
.triples-row .home-right {
  max-width: 550px;
  text-align: center;
}
/* line 81, assetic_compassAxcPJA.scss */
.triples-row .home-right.top {
  display: none;
  padding-bottom: 0;
}

/* line 88, assetic_compassAxcPJA.scss */
.home-features-list {
  font-size: .9rem;
  line-height: 1.8;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 96, assetic_compassAxcPJA.scss */
.home-features-list li {
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #fff;
  margin: 0;
  padding: 0;
}
/* line 102, assetic_compassAxcPJA.scss */
.home-features-list li:first-child {
  border-top: 0;
}
/* line 106, assetic_compassAxcPJA.scss */
.home-features-list li:last-child {
  border-bottom: 0;
}
/* line 112, assetic_compassAxcPJA.scss */
.home-features-list .feature-image.london {
  height: 139.5px;
  width: 180px;
}
/* line 117, assetic_compassAxcPJA.scss */
.home-features-list .feature-image.chances {
  height: 161px;
  width: 160.5px;
}
/* line 122, assetic_compassAxcPJA.scss */
.home-features-list .feature-image.info {
  height: 148px;
  width: 148px;
}
/* line 128, assetic_compassAxcPJA.scss */
.home-features-list .container-fluid {
  margin: 40px auto;
}
/* line 132, assetic_compassAxcPJA.scss */
.home-features-list p {
  margin: 0;
}

/* line 137, assetic_compassAxcPJA.scss */
.news-box {
  padding: 35px;
  text-align: left;
}

/* line 143, assetic_compassAxcPJA.scss */
.fact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
}
/* line 149, assetic_compassAxcPJA.scss */
.fact-list li {
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
}
/* line 154, assetic_compassAxcPJA.scss */
.fact-list li:first-child {
  margin-top: 0;
}
/* line 159, assetic_compassAxcPJA.scss */
.fact-list .fact-icon {
  margin-bottom: 5px;
}
/* line 162, assetic_compassAxcPJA.scss */
.fact-list .fact-icon.map {
  height: 71.5px;
  width: 91px;
}
/* line 167, assetic_compassAxcPJA.scss */
.fact-list .fact-icon.stop {
  height: 87px;
  width: 87px;
}
/* line 172, assetic_compassAxcPJA.scss */
.fact-list .fact-icon.stop-smoking {
  height: 82px;
  width: 81.5px;
}
/* line 178, assetic_compassAxcPJA.scss */
.fact-list .fact {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  display: block;
}

/* line 184, assetic_compassAxcPJA.scss */
h3 {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin-bottom: 1rem;
}

/* line 189, assetic_compassAxcPJA.scss */
.h3-outer {
  margin-bottom: 1rem;
  position: relative;
}
/* line 193, assetic_compassAxcPJA.scss */
.h3-outer h3 {
  margin-bottom: 0;
}

/* line 198, assetic_compassAxcPJA.scss */
.news-header {
  display: inline-block;
  position: relative;
}

/* line 203, assetic_compassAxcPJA.scss */
.twitter-profile-link {
  color: #8b969b;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  bottom: 0;
  position: absolute;
  right: 0;
}
/* line 209, assetic_compassAxcPJA.scss */
.twitter-profile-link .icon {
  background: url("/bundles/app/images/icon/twitter_module.png") 50% 0 no-repeat;
  background-size: 15px 200%;
  height: 12.5px;
  width: 15px;
}
/* line 216, assetic_compassAxcPJA.scss */
.twitter-profile-link:hover, .twitter-profile-link:focus {
  color: #0a76e5;
}
/* line 220, assetic_compassAxcPJA.scss */
.twitter-profile-link:hover .icon, .twitter-profile-link:focus .icon {
  background-position: 50% 100%;
}

/* line 226, assetic_compassAxcPJA.scss */
.carousel-container {
  padding-bottom: 60px;
  position: relative;
}

/* line 231, assetic_compassAxcPJA.scss */
.news-carousel {
  list-style: none;
  margin-left: -.2rem;
  overflow: hidden;
  padding: 0 0 0 .2rem;
}
/* line 237, assetic_compassAxcPJA.scss */
.news-carousel .news-panel {
  box-sizing: content-box;
  display: inline-block;
  margin: 0 5px 0 -5px;
  padding-left: 5px;
  vertical-align: top;
  white-space: normal;
  width: 100%;
}

/* line 248, assetic_compassAxcPJA.scss */
.news-carousel-indicators {
  display: none;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 15;
  text-align: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
/* line 261, assetic_compassAxcPJA.scss */
.news-carousel-indicators li {
  background-color: #0a76e5;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  text-indent: -999px;
  width: 20px;
}
/* line 273, assetic_compassAxcPJA.scss */
.news-carousel-indicators li.active {
  background-color: #0cf;
}

/* line 279, assetic_compassAxcPJA.scss */
.twitter-card {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  box-shadow: 0 2px 4px #d0d0d0;
  border: 0;
  border-radius: 0;
  width: 100%;
}
/* line 286, assetic_compassAxcPJA.scss */
.twitter-card .card-block {
  padding-bottom: 1rem;
  padding-top: 1.25rem;
}
/* line 291, assetic_compassAxcPJA.scss */
.twitter-card .twitter-user {
  color: #8b969b;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}
/* line 294, assetic_compassAxcPJA.scss */
.twitter-card .twitter-user img {
  background: #0a76e5;
  border: 0;
  height: 23px;
  width: 23px;
}
/* line 301, assetic_compassAxcPJA.scss */
.twitter-card .twitter-user h5 {
  font-size: inherit;
  font-weight: inherit;
}
/* line 306, assetic_compassAxcPJA.scss */
.twitter-card .twitter-user:hover {
  color: #0a76e5;
}
/* line 312, assetic_compassAxcPJA.scss */
.twitter-card .view-tweet {
  color: #8b969b;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: -.01rem;
}
/* line 315, assetic_compassAxcPJA.scss */
.twitter-card .view-tweet:hover {
  color: #0a76e5;
}

@media (max-width: 1199px) {
  /* line 322, assetic_compassAxcPJA.scss */
  .home-features-list {
    font-size: .82rem;
  }

  /* line 326, assetic_compassAxcPJA.scss */
  .news-header {
    display: block;
  }

  /* line 330, assetic_compassAxcPJA.scss */
  .twitter-profile-link {
    display: inline-block;
    position: relative;
  }
  /* line 334, assetic_compassAxcPJA.scss */
  .twitter-profile-link::before {
    content: ' ';
    display: block;
    height: 5px;
    position: relative;
    width: 100%;
  }

  /* line 343, assetic_compassAxcPJA.scss */
  .twitter-card {
    font-size: .82rem;
  }
}
@media (max-width: 991px) {
  /* line 349, assetic_compassAxcPJA.scss */
  .home-features-list {
    font-size: .9rem;
    padding: 0 20px;
  }
  /* line 353, assetic_compassAxcPJA.scss */
  .home-features-list p {
    margin-top: 1rem;
  }

  /* line 358, assetic_compassAxcPJA.scss */
  .twitter-card {
    font-size: .9rem;
  }

  /* line 362, assetic_compassAxcPJA.scss */
  .home-feature {
    background-position: 45% 66%;
    background-size: auto 427.5px;
    height: 200px;
  }

  /* line 368, assetic_compassAxcPJA.scss */
  .welcome {
    font-size: 1.5rem;
    margin-top: 4.5rem;
    padding-left: 0;
  }
  /* line 373, assetic_compassAxcPJA.scss */
  .welcome .small {
    font-size: 1rem;
  }
  /* line 377, assetic_compassAxcPJA.scss */
  .welcome .large {
    padding: .4rem .8rem .6rem;
  }

  /* line 382, assetic_compassAxcPJA.scss */
  .fact-list {
    width: 100%;
  }
  /* line 385, assetic_compassAxcPJA.scss */
  .fact-list .fact {
    font-size: .95rem;
  }

  /* line 390, assetic_compassAxcPJA.scss */
  h3,
  .h3-outer {
    text-align: center;
  }

  /* line 395, assetic_compassAxcPJA.scss */
  .news-carousel {
    margin-left: 0;
    padding-left: 0;
  }

  /* line 400, assetic_compassAxcPJA.scss */
  .carousel-container {
    padding-bottom: 0;
  }

  /* line 404, assetic_compassAxcPJA.scss */
  .news-carousel-indicators {
    display: none !important;
  }

  /* line 408, assetic_compassAxcPJA.scss */
  .news-panel {
    display: block !important;
  }

  /* line 412, assetic_compassAxcPJA.scss */
  .twitter-card .retweet-tag {
    margin-left: -1rem;
  }

  /* line 417, assetic_compassAxcPJA.scss */
  .triples-row .home-right {
    max-width: none;
  }
  /* line 421, assetic_compassAxcPJA.scss */
  .triples-row .home-right.top {
    display: block;
  }

  /* line 426, assetic_compassAxcPJA.scss */
  .facts-header {
    font-size: .9rem;
    padding: 1.5rem 20px;
  }

  /* line 432, assetic_compassAxcPJA.scss */
  .triples-row > .col-lg,
  .triples-row > [class*="col-"] {
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 442, assetic_compassAxcPJA.scss */
  .home-right.top .cta-buttons-box {
    padding-top: 30px;
  }

  /* line 448, assetic_compassAxcPJA.scss */
  .tweet-name {
    display: none;
  }
}
