/* line 5, assetic_compassHLRvNI.scss */
.btn-cta {
  font-size: .9rem;
  padding: .75rem .5rem;
}
/* line 9, assetic_compassHLRvNI.scss */
.btn-cta .top-img {
  height: 43px;
}

/* line 14, assetic_compassHLRvNI.scss */
.chance-percent-row {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  text-align: center;
}
/* line 18, assetic_compassHLRvNI.scss */
.chance-percent-row b {
  color: #0a76e5;
  display: inline-block;
  min-width: 39px;
  text-align: center;
}

/* line 26, assetic_compassHLRvNI.scss */
.chance-percent-row,
.arrow-row {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 32, assetic_compassHLRvNI.scss */
.arrow-row {
  display: none;
}
/* line 35, assetic_compassHLRvNI.scss */
.arrow-row .selected-arrow {
  display: inline-block;
  position: relative;
}

/* line 41, assetic_compassHLRvNI.scss */
.card-outline-success {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  border-color: #15ce75;
}
/* line 45, assetic_compassHLRvNI.scss */
.card-outline-success .card-block {
  padding: 1rem;
}
/* line 49, assetic_compassHLRvNI.scss */
.card-outline-success .btn-cta {
  font-size: inherit;
  min-width: 355px;
  padding: .65rem 2.5rem;
  width: auto;
}

/* line 57, assetic_compassHLRvNI.scss */
.info-cols {
  margin: 3rem 0;
  text-align: center;
}
/* line 61, assetic_compassHLRvNI.scss */
.info-cols > .row {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
/* line 66, assetic_compassHLRvNI.scss */
.info-cols .info-title {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin: 1.5rem 0 .5rem;
}
/* line 71, assetic_compassHLRvNI.scss */
.info-cols .col-image {
  height: 135px;
}
/* line 75, assetic_compassHLRvNI.scss */
.info-cols .info-list {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  list-style: none;
  padding: 0;
}
/* line 80, assetic_compassHLRvNI.scss */
.info-cols .info-list li {
  margin: 0 0 1rem;
  padding: 0;
}

@media (min-width: 1200px) {
  /* line 89, assetic_compassHLRvNI.scss */
  .info-cols > .row {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}
@media (max-width: 1199px) {
  /* line 98, assetic_compassHLRvNI.scss */
  .info-cols .info-list {
    font-size: .9rem;
  }
}
@media (max-width: 991px) {
  /* line 105, assetic_compassHLRvNI.scss */
  .btn-cta {
    font-size: .75rem;
  }
  /* line 108, assetic_compassHLRvNI.scss */
  .btn-cta .text {
    height: 36px;
  }

  /* line 113, assetic_compassHLRvNI.scss */
  .info-cols {
    margin-top: 0;
  }
  /* line 116, assetic_compassHLRvNI.scss */
  .info-cols .info-title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  /* line 122, assetic_compassHLRvNI.scss */
  .info-cols .col-12 {
    margin-top: 3rem;
  }

  /* line 127, assetic_compassHLRvNI.scss */
  .card-outline-success {
    font-size: .95rem;
  }
  /* line 130, assetic_compassHLRvNI.scss */
  .card-outline-success .text-chances {
    display: block;
    margin-bottom: .3rem;
  }
  /* line 135, assetic_compassHLRvNI.scss */
  .card-outline-success .btn-cta {
    font-size: inherit;
    margin-left: 0 !important;
    min-width: 0;
    padding: .65rem 0;
    width: 100%;
  }

  /* line 145, assetic_compassHLRvNI.scss */
  .jumbotron h2 {
    font-size: 1.8rem;
  }

  /* line 151, assetic_compassHLRvNI.scss */
  .info-cols .info-title {
    font-size: 1.05rem;
  }
  /* line 155, assetic_compassHLRvNI.scss */
  .info-cols .info-list {
    font-size: .85rem;
  }

  /* line 160, assetic_compassHLRvNI.scss */
  .chance-percent-row {
    font-size: .83rem;
  }
}
