/* line 5, assetic_compassnQfwWe.scss */
.card.card-outline-success h4 {
  color: #0a76e5;
}

/* line 9, assetic_compassnQfwWe.scss */
.about-block-text p:last-child {
  margin-bottom: 0;
}

/* line 13, assetic_compassnQfwWe.scss */
.block-text h4 ~ h5 {
  margin-top: 2.5rem;
}

/* line 17, assetic_compassnQfwWe.scss */
.block-text h5 {
  color: #1866b8;
  font-size: 1.1rem;
}

/* line 22, assetic_compassnQfwWe.scss */
h3 {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin-bottom: 1rem;
}

/* line 27, assetic_compassnQfwWe.scss */
.cta-box-outer {
  text-align: center;
}

/* line 31, assetic_compassnQfwWe.scss */
.cta-buttons-box {
  display: inline-block;
  max-width: 720px;
}

/* line 36, assetic_compassnQfwWe.scss */
.card.card-outline-success h4 {
  color: #00a2a4;
}

/* line 40, assetic_compassnQfwWe.scss */
.tel {
  color: #00a2a4;
  background-image: url("/bundles/app/images/button/phone-yellow.png");
}

/* line 45, assetic_compassnQfwWe.scss */
.btn-cta.btn-success {
  background-color: #00a2a4;
  border-color: #045858;
}

/* line 50, assetic_compassnQfwWe.scss */
.tel-cont:not(.website) .tel-text {
  background-image: url("/bundles/app/images/button/phone-yellow.png");
}
