/* line 6, assetic_compassU1lQKe.scss */
.card .website-link {
  display: inline-block;
  min-width: 60%;
}
/* line 12, assetic_compassU1lQKe.scss */
.card .social-links .website-link {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-width: 0;
  overflow: hidden;
  padding: 1.2rem;
  text-indent: -1000px;
  vertical-align: top;
  width: 110px;
}
/* line 22, assetic_compassU1lQKe.scss */
.card .social-links .website-link.f {
  background-image: url("/bundles/app/images/button/icon_facebook.png");
  background-size: 17.5px 33.5px;
}
/* line 27, assetic_compassU1lQKe.scss */
.card .social-links .website-link.t {
  background-image: url("/bundles/app/images/button/icon_twitter.png");
  background-size: 37px 31px;
}
/* line 32, assetic_compassU1lQKe.scss */
.card .social-links .website-link.l {
  background-image: url("/bundles/app/images/button/icon_linkedin.png");
  background-size: 34.5px 34.5px;
}
/* line 39, assetic_compassU1lQKe.scss */
.card .form-control {
  background: #fff;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
/* line 45, assetic_compassU1lQKe.scss */
.card .form-control:hover {
  background: #f7f7f7;
}
/* line 50, assetic_compassU1lQKe.scss */
.card .badge-pill {
  background: #fff;
  border: 1px solid #15ce75;
  color: #0fb163;
  display: none;
  left: 50%;
  margin-left: -125px;
  margin-top: 5px;
  position: absolute;
  top: 100%;
  width: 250px;
}

@media (max-width: 991px) {
  /* line 67, assetic_compassU1lQKe.scss */
  .card .social-links .website-link {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 75px;
  }

  /* line 75, assetic_compassU1lQKe.scss */
  .form-control-lg {
    font-size: .85rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
