/* line 5, assetic_compasslCJuYs.scss */
.tel {
  color: #15ce75;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  background: url("/bundles/app/images/icon/telephone.png") 0 55% no-repeat;
  background-size: 28px 37px;
  line-height: 3rem;
  padding-left: 38px;
}

/* line 14, assetic_compasslCJuYs.scss */
.cta-buttons-box .btn-cta {
  font-size: .9rem;
  min-width: 320px;
}
/* line 18, assetic_compasslCJuYs.scss */
.cta-buttons-box .btn-cta.btn-success {
  font-size: 1.4rem;
  padding: 1.5rem;
}

/* line 25, assetic_compasslCJuYs.scss */
.website-compat-notice {
  background: #095bb1;
  text-align: center;
  width: 100%;
}
/* line 30, assetic_compasslCJuYs.scss */
.website-compat-notice .notice-outer-cell {
  padding: 25px 10px !important;
}
/* line 34, assetic_compasslCJuYs.scss */
.website-compat-notice .inner-table {
  max-width: 900px;
}
/* line 39, assetic_compasslCJuYs.scss */
.website-compat-notice .notice-text h5 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  margin: 0 20px;
}
/* line 44, assetic_compasslCJuYs.scss */
.website-compat-notice .notice-text p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  margin: 0 20px 20px;
}
/* line 48, assetic_compasslCJuYs.scss */
.website-compat-notice .notice-text p.lg {
  font-size: 1.1rem;
  margin-bottom: 0;
}
/* line 54, assetic_compasslCJuYs.scss */
.website-compat-notice .notice-text.lower {
  border-top: 1px solid #fff;
  padding-top: 20px;
}
/* line 60, assetic_compasslCJuYs.scss */
.website-compat-notice .btn {
  margin-bottom: 20px;
  padding: 10px 25px;
}

/* line 66, assetic_compasslCJuYs.scss */
.modal-backdrop {
  background: #1866b8;
}
/* line 69, assetic_compasslCJuYs.scss */
.modal-backdrop.show {
  opacity: .7;
}

/* line 74, assetic_compasslCJuYs.scss */
.modal-tooltip {
  text-align: center;
}
/* line 77, assetic_compasslCJuYs.scss */
.modal-tooltip .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 81, assetic_compasslCJuYs.scss */
.modal-tooltip .modal-header .modal-title {
  color: #1866b8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -.01rem;
  background: url("/bundles/app/images/icon/dictionary.png") 50% 0 no-repeat;
  background-size: 26.5px 32px;
  padding-top: 42px;
  width: 100%;
}
/* line 90, assetic_compasslCJuYs.scss */
.modal-tooltip .tooltip-icon {
  display: inline-block;
  height: 32px;
  width: 26.5px;
}
/* line 96, assetic_compasslCJuYs.scss */
.modal-tooltip .modal-footer {
  border: 0;
}
/* line 100, assetic_compasslCJuYs.scss */
.modal-tooltip .modal-content {
  padding: 20px;
}

/* line 105, assetic_compasslCJuYs.scss */
.tooltip-link {
  background: #eaf0f6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5px 1px #8b969b;
  color: inherit;
  display: inline-block;
  line-height: 1.4em;
  margin: 2px;
  padding: 0 .35em .1rem;
}
/* line 115, assetic_compasslCJuYs.scss */
.tooltip-link:active {
  transform: translateY(1px);
}

/* line 120, assetic_compasslCJuYs.scss */
.cta-buttons-box {
  box-shadow: 0 2px 4px #d0d0d0;
  background: #fff;
  padding: 35px;
}

/* line 126, assetic_compasslCJuYs.scss */
.back-choices {
  background: #fff;
  border-radius: 0.25rem;
  font-size: .9rem;
  left: 15px;
  padding: 4px 12px;
  position: absolute;
  top: 12px;
}

/* line 136, assetic_compasslCJuYs.scss */
.bootstrap-select {
  font-size: 1.25rem;
}
/* line 139, assetic_compasslCJuYs.scss */
.bootstrap-select .hidden {
  display: none;
}
/* line 143, assetic_compasslCJuYs.scss */
.bootstrap-select .dropdown-menu {
  font-size: 1rem;
  min-height: 60px !important;
}
/* line 147, assetic_compasslCJuYs.scss */
.bootstrap-select .dropdown-menu a {
  font-size: inherit;
  width: 100%;
}
/* line 153, assetic_compasslCJuYs.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}
/* line 158, assetic_compasslCJuYs.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu .selected a,
.bootstrap-select.show > .dropdown-menu > .dropdown-menu .active a {
  color: #15ce75;
}
/* line 163, assetic_compasslCJuYs.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu a {
  display: block;
  padding: .4rem 1rem;
}
/* line 167, assetic_compasslCJuYs.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu a:focus {
  outline: none;
}
/* line 172, assetic_compasslCJuYs.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu .no-results {
  background: transparent;
  color: #8b969b;
  padding: .4rem 1rem;
}
/* line 179, assetic_compasslCJuYs.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  vertical-align: middle;
}
/* line 183, assetic_compasslCJuYs.scss */
.bootstrap-select > .dropdown-toggle {
  padding-right: 2rem;
}
/* line 187, assetic_compasslCJuYs.scss */
.bootstrap-select.btn-group .dropdown-toggle:focus {
  outline: none !important;
}

/* line 192, assetic_compasslCJuYs.scss */
.dropdown-toggle::after {
  border-top-color: #0a76e5;
  margin-left: -.6rem;
}

/* line 202, assetic_compasslCJuYs.scss */
.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
}
/* line 206, assetic_compasslCJuYs.scss */
.form-control::-moz-placeholder {
  color: #d0d0d0;
}
/* line 210, assetic_compasslCJuYs.scss */
.form-control:-ms-input-placeholder {
  color: #d0d0d0;
}

@media (min-width: 1200px) {
  /* line 216, assetic_compasslCJuYs.scss */
  .gutter-lg {
    margin-left: -30px;
    margin-right: -30px;
  }
  /* line 220, assetic_compasslCJuYs.scss */
  .gutter-lg > .col,
  .gutter-lg > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 228, assetic_compasslCJuYs.scss */
[class*="card-outline-"] {
  background: #fff;
}

/* line 232, assetic_compasslCJuYs.scss */
.page {
  max-width: 2389px;
  padding: 0;
  width: auto;
}
/* line 237, assetic_compasslCJuYs.scss */
.page .layout-table {
  background: #f7f7f7;
  margin: 0;
}
/* line 241, assetic_compasslCJuYs.scss */
.page .layout-table td {
  border: 0;
  padding: 0;
}

/* line 265, assetic_compasslCJuYs.scss */
.header-container {
  z-index: 10;
}
/* line 268, assetic_compasslCJuYs.scss */
.header-container + .nav {
  border-bottom: 1px solid #d0d0d0;
}
/* line 271, assetic_compasslCJuYs.scss */
.header-container + .nav .nav-link {
  color: #8b969b;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -.01rem;
  backface-visibility: hidden;
  padding: .5em .8em;
  text-transform: uppercase;
  transition: all .2s;
}
@media (max-width: 991px) {
  /* line 271, assetic_compasslCJuYs.scss */
  .header-container + .nav .nav-link {
    letter-spacing: -.02rem;
  }
}
/* line 255, assetic_compasslCJuYs.scss */
.header-container + .nav .nav-link.active, .header-container + .nav .nav-link:hover {
  color: #0a76e5;
}
/* line 260, assetic_compasslCJuYs.scss */
.header-container + .nav .nav-link:hover {
  transform: translateZ(20px);
}

/* line 277, assetic_compasslCJuYs.scss */
.header-bar {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
  line-height: 0;
  padding: .8rem 0;
  text-align: right;
}
/* line 284, assetic_compasslCJuYs.scss */
.header-bar .header-bar-inner {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 289, assetic_compasslCJuYs.scss */
.header-bar .header-bar-inner .logo-link {
  display: inline-block;
  float: left;
  position: relative;
}
/* line 296, assetic_compasslCJuYs.scss */
.header-bar .header-logo {
  display: inline-block;
  height: 85.5px;
  width: 129.5px;
}
/* line 302, assetic_compasslCJuYs.scss */
.header-bar h2 {
  color: #0a76e5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.64rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  margin: 0;
  padding-left: 20px;
}
@media (max-width: 991px) {
  /* line 302, assetic_compasslCJuYs.scss */
  .header-bar h2 {
    letter-spacing: -.02rem;
  }
}
/* line 307, assetic_compasslCJuYs.scss */
.header-bar h2 b {
  display: inline-block;
}
/* line 312, assetic_compasslCJuYs.scss */
.header-bar .nav-item {
  -webkit-perspective: 1000;
  perspective: 1000;
  text-align: center;
}
/* line 317, assetic_compasslCJuYs.scss */
.header-bar .nav-item.mobile {
  display: none;
}
/* line 322, assetic_compasslCJuYs.scss */
.header-bar .nav-link {
  color: #8b969b;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -.01rem;
  backface-visibility: hidden;
  padding: .5em .8em;
  text-transform: uppercase;
  transition: all .2s;
}
@media (max-width: 991px) {
  /* line 322, assetic_compasslCJuYs.scss */
  .header-bar .nav-link {
    letter-spacing: -.02rem;
  }
}
/* line 255, assetic_compasslCJuYs.scss */
.header-bar .nav-link.active, .header-bar .nav-link:hover {
  color: #0a76e5;
}
/* line 260, assetic_compasslCJuYs.scss */
.header-bar .nav-link:hover {
  transform: translateZ(20px);
}
/* line 326, assetic_compasslCJuYs.scss */
.header-bar .col-right {
  line-height: normal;
}

/* line 331, assetic_compasslCJuYs.scss */
.footer {
  background-color: #fff;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.24) inset;
  padding-bottom: 15px;
  padding-top: 30px;
}
/* line 337, assetic_compasslCJuYs.scss */
.footer .nav-link {
  color: #8b969b;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: -.01rem;
}
/* line 340, assetic_compasslCJuYs.scss */
.footer .nav-link:hover, .footer .nav-link:active, .footer .nav-link:focus, .footer .nav-link.active {
  color: #0a76e5;
}
/* line 348, assetic_compasslCJuYs.scss */
.footer .copyright-footer {
  color: #d0d0d0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: -.01rem;
}
/* line 351, assetic_compasslCJuYs.scss */
.footer .copyright-footer a {
  color: inherit !important;
}
/* line 354, assetic_compasslCJuYs.scss */
.footer .copyright-footer a:hover {
  text-decoration: underline;
}
/* line 360, assetic_compasslCJuYs.scss */
.footer .social-nav {
  margin-top: 10px;
}
/* line 364, assetic_compasslCJuYs.scss */
.footer .social-link {
  background: 50% 0 no-repeat;
  background-size: auto 200%;
  display: inline-block;
  margin: auto 5px;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  vertical-align: middle;
  width: 30px;
}
/* line 375, assetic_compasslCJuYs.scss */
.footer .social-link.twitter {
  background-image: url("/bundles/app/images/logo/footer_twitter.png");
  height: 24px;
}
/* line 380, assetic_compasslCJuYs.scss */
.footer .social-link:hover {
  background-position: 50% 100%;
}

/* line 386, assetic_compasslCJuYs.scss */
.jumbotron-feature-image-outer {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 396, assetic_compasslCJuYs.scss */
.jumbotron-feature-image {
  background-position: 50% 0;
  bottom: 0;
  box-sizing: content-box;
  left: 0;
  position: absolute;
  width: 100%;
}

/* line 406, assetic_compasslCJuYs.scss */
.jumbotron-outer {
  background: 50% 57% no-repeat #085bb0;
  position: relative;
}
/* line 410, assetic_compasslCJuYs.scss */
.jumbotron-outer .h2-outer {
  padding: 0 20px;
}
/* line 414, assetic_compasslCJuYs.scss */
.jumbotron-outer h2 {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}
/* line 418, assetic_compasslCJuYs.scss */
.jumbotron-outer .lead {
  color: #0a76e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.35rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  margin-bottom: 0;
}
/* line 423, assetic_compasslCJuYs.scss */
.jumbotron-outer.default {
  background: #0a76e5;
}
/* line 426, assetic_compasslCJuYs.scss */
.jumbotron-outer.default h2 {
  color: #fff;
}
/* line 430, assetic_compasslCJuYs.scss */
.jumbotron-outer.default .lead {
  color: #fff;
}
/* line 434, assetic_compasslCJuYs.scss */
.jumbotron-outer.default .jumbotron-feature-image-outer {
  display: block;
}
/* line 438, assetic_compasslCJuYs.scss */
.jumbotron-outer.default .jumbotron-feature-image {
  background-image: url("/bundles/app/images/main/header_default.jpg");
  background-size: 2440px 300px;
  height: 300px;
}
/* line 445, assetic_compasslCJuYs.scss */
.jumbotron-outer.hills {
  background: #0a76e5;
  border-bottom: 1px solid #d0d0d0;
}
/* line 449, assetic_compasslCJuYs.scss */
.jumbotron-outer.hills .jumbotron-feature-image-outer {
  display: block;
}
/* line 453, assetic_compasslCJuYs.scss */
.jumbotron-outer.hills .jumbotron-feature-image {
  background-image: url("/bundles/app/images/main/header_hills.jpg");
  background-size: 2440px 300px;
  height: 300px;
  bottom: -20px;
}
/* line 460, assetic_compasslCJuYs.scss */
.jumbotron-outer.hills.lower {
  overflow: hidden;
}
/* line 462, assetic_compasslCJuYs.scss */
.jumbotron-outer.hills.lower .jumbotron-feature-image-outer {
  padding-bottom: 20px;
  box-sizing: content-box;
}
/* line 469, assetic_compasslCJuYs.scss */
.jumbotron-outer.clouds {
  background: #0a76e5;
  border-bottom: 1px solid #d0d0d0;
}
/* line 473, assetic_compasslCJuYs.scss */
.jumbotron-outer.clouds .jumbotron-feature-image-outer {
  display: block;
}
/* line 477, assetic_compasslCJuYs.scss */
.jumbotron-outer.clouds .jumbotron-feature-image {
  background-image: url("/bundles/app/images/main/header_clouds.jpg");
  background-size: 2440px 300px;
  height: 300px;
}

/* line 485, assetic_compasslCJuYs.scss */
.jumbotron {
  background: transparent;
  margin-bottom: 0;
  text-align: center;
}
/* line 490, assetic_compasslCJuYs.scss */
.jumbotron h2 {
  margin-bottom: 0;
}
/* line 494, assetic_compasslCJuYs.scss */
.jumbotron .breadcrumb {
  color: #b2d6fa;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  letter-spacing: -.01rem;
  background: transparent;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
}
/* line 503, assetic_compasslCJuYs.scss */
.jumbotron .breadcrumb-item {
  color: inherit;
}
/* line 506, assetic_compasslCJuYs.scss */
.jumbotron .breadcrumb-item a {
  color: inherit;
}
/* line 509, assetic_compasslCJuYs.scss */
.jumbotron .breadcrumb-item a:hover, .jumbotron .breadcrumb-item a:focus {
  color: #fff;
}
/* line 515, assetic_compasslCJuYs.scss */
.jumbotron .breadcrumb-item + .breadcrumb-item::before {
  color: #b2d6fa;
  content: '>';
}

/* line 522, assetic_compasslCJuYs.scss */
.container-lower {
  margin-bottom: 4rem;
  text-align: center;
}

/* line 527, assetic_compasslCJuYs.scss */
.row-main-page {
  margin-top: 3rem;
}

/* line 531, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* line 535, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom p {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: -.01rem;
}
/* line 538, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom p:first-child {
  margin-top: 1.5rem;
}
/* line 542, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom p.text-primary {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
/* line 546, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom p.text-primary a {
  font-weight: 600;
}
/* line 550, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom p.text-primary b,
.stop-smoking-london-bottom p.text-primary a {
  display: inline-block;
  width: 100%;
}
/* line 560, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom .btn-cta {
  font-size: 1.25rem;
  width: auto;
}
/* line 565, assetic_compasslCJuYs.scss */
.stop-smoking-london-bottom .ssl-logo-large {
  height: 106px;
  width: 160.5px;
}

/* line 571, assetic_compasslCJuYs.scss */
.btn-cta {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -.01rem;
  border: 4px solid #1866b8;
  border-width: 0 0 4px;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  white-space: normal;
}
/* line 578, assetic_compasslCJuYs.scss */
.btn-cta.btn-primary.active:not(:hover) {
  background-color: #0a76e5;
}
/* line 582, assetic_compasslCJuYs.scss */
.btn-cta:not(.btn-lg) {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}
/* line 586, assetic_compasslCJuYs.scss */
.btn-cta .top-img {
  margin: 0 0 5px;
}
/* line 590, assetic_compasslCJuYs.scss */
.btn-cta + .btn-cta {
  margin-top: 0;
}
/* line 594, assetic_compasslCJuYs.scss */
.btn-cta:hover, .btn-cta:focus {
  border-color: #0f4074;
  color: #fff;
}
/* line 600, assetic_compasslCJuYs.scss */
.btn-cta.btn-success {
  border-color: #0fb163;
}
/* line 603, assetic_compasslCJuYs.scss */
.btn-cta.btn-success:hover, .btn-cta.btn-success:focus {
  border-color: #096a3c;
}
/* line 609, assetic_compasslCJuYs.scss */
.btn-cta:active, .btn-cta.active {
  border-bottom-width: 0;
  margin-top: 4px;
}
/* line 615, assetic_compasslCJuYs.scss */
.btn-cta > .align-middle {
  display: inline-block;
  margin-top: -3px;
}

/* line 632, assetic_compasslCJuYs.scss */
.home-link {
  display: none;
}

/* line 636, assetic_compasslCJuYs.scss */
.card {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: -.01rem;
}
/* line 639, assetic_compasslCJuYs.scss */
.card .card-block {
  padding: 2rem 1.25rem;
}
/* line 643, assetic_compasslCJuYs.scss */
.card .form-group {
  margin-bottom: 0;
}
/* line 647, assetic_compasslCJuYs.scss */
.card p {
  margin: 0;
}
/* line 651, assetic_compasslCJuYs.scss */
.card h4 {
  color: #1866b8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}
/* line 654, assetic_compasslCJuYs.scss */
.card h4 + p {
  margin: 1rem 0 1.5rem;
}
/* line 659, assetic_compasslCJuYs.scss */
.card.card-outline-success, .card.card-outline-warning {
  border-color: #15ce75;
}
/* line 663, assetic_compasslCJuYs.scss */
.card.card-outline-success h4, .card.card-outline-warning h4 {
  color: #15ce75;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}
/* line 668, assetic_compasslCJuYs.scss */
.card.card-outline-warning h4 {
  color: #f0ad4e;
}
/* line 672, assetic_compasslCJuYs.scss */
.card + .card {
  margin-top: 1.5rem;
}
/* line 676, assetic_compasslCJuYs.scss */
.card .btn-cta {
  min-width: 30%;
}
/* line 679, assetic_compasslCJuYs.scss */
.card .btn-cta + .btn-cta {
  margin-left: .5rem;
}

/* line 686, assetic_compasslCJuYs.scss */
.block-text p + h3,
.block-text p + h4,
.block-text p + h5 {
  margin-top: 2rem;
}

/* line 692, assetic_compasslCJuYs.scss */
.page-header-1,
.block-text h3, .page-header-2,
.block-text h4 {
  color: #1866b8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}

/* line 696, assetic_compasslCJuYs.scss */
.page-header-1,
.block-text h3 {
  text-align: center;
}

/* line 702, assetic_compasslCJuYs.scss */
.page-header-1 {
  margin: 0 0 1.2rem;
}

/* line 706, assetic_compasslCJuYs.scss */
.page-header-2,
.block-text h4 {
  font-size: 1.6rem;
}

/* line 712, assetic_compasslCJuYs.scss */
.page-header-3,
.block-text h5 {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -.01rem;
}

@media (min-width: 992px) {
  /* line 718, assetic_compasslCJuYs.scss */
  .header-container {
    z-index: 10;
  }
  /* line 722, assetic_compasslCJuYs.scss */
  .header-container + .nav.mobile {
    display: none;
  }
}
@media (max-width: 1199px) {
  /* line 730, assetic_compasslCJuYs.scss */
  .card {
    font-size: 1.1rem;
  }
  /* line 733, assetic_compasslCJuYs.scss */
  .card .card-block {
    padding: 1.25rem;
  }
  /* line 737, assetic_compasslCJuYs.scss */
  .card h4 {
    font-size: 1.6rem;
  }
  /* line 743, assetic_compasslCJuYs.scss */
  .card.card-outline-success h4, .card.card-outline-warning h4 {
    font-size: 1.4rem;
  }

  /* line 749, assetic_compasslCJuYs.scss */
  .page-header-2,
  .block-text h4 {
    font-size: 1.4rem;
  }

  /* line 754, assetic_compasslCJuYs.scss */
  .page-header-3,
  .block-text h5 {
    font-size: 1.25rem;
  }
}
@media (max-width: 991px) {
  /* line 761, assetic_compasslCJuYs.scss */
  .back-choices {
    font-size: .8rem;
  }
  /* line 764, assetic_compasslCJuYs.scss */
  .back-choices .desktop {
    display: none;
  }

  /* line 769, assetic_compasslCJuYs.scss */
  .gutter-sm {
    margin-left: -3px;
    margin-right: -3px;
  }
  /* line 773, assetic_compasslCJuYs.scss */
  .gutter-sm > .col,
  .gutter-sm > [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
  }

  /* line 782, assetic_compasslCJuYs.scss */
  .mobile-dropdown .nav.mobile {
    background: #fff;
    display: none;
    padding-bottom: .8rem;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 900;
  }
  /* line 795, assetic_compasslCJuYs.scss */
  .mobile-dropdown.show .nav.mobile {
    display: block;
  }

  /* line 803, assetic_compasslCJuYs.scss */
  .header-bar .header-logo {
    height: 65px;
    width: auto;
  }
  /* line 808, assetic_compasslCJuYs.scss */
  .header-bar h2 {
    font-size: .9rem;
  }
  /* line 812, assetic_compasslCJuYs.scss */
  .header-bar .nav-outer {
    align-self: flex-end !important;
  }
  /* line 817, assetic_compasslCJuYs.scss */
  .header-bar .nav .desktop {
    display: none;
  }
  /* line 821, assetic_compasslCJuYs.scss */
  .header-bar .nav .mobile {
    display: block;
  }
  /* line 824, assetic_compasslCJuYs.scss */
  .header-bar .nav .mobile .dropdown-toggle::after {
    border-width: .5em .5em 0;
    margin-left: .3em;
    margin-top: -.25em;
  }

  /* line 834, assetic_compasslCJuYs.scss */
  .card {
    font-size: .95rem;
  }
  /* line 837, assetic_compasslCJuYs.scss */
  .card .card-block {
    padding: 2rem .9rem;
  }
  /* line 841, assetic_compasslCJuYs.scss */
  .card h4 {
    font-size: .9rem;
  }
  /* line 844, assetic_compasslCJuYs.scss */
  .card h4 + p {
    margin: .5rem 0;
  }

  /* line 851, assetic_compasslCJuYs.scss */
  .footer .footer-nav {
    display: block;
    text-align: center;
  }
  /* line 856, assetic_compasslCJuYs.scss */
  .footer .social-nav {
    margin-top: 20px;
  }
  /* line 860, assetic_compasslCJuYs.scss */
  .footer .copyright-footer {
    font-size: .6rem;
    margin-top: 30px;
  }

  /* line 866, assetic_compasslCJuYs.scss */
  .btn-cta {
    font-size: .75rem;
  }

  /* line 870, assetic_compasslCJuYs.scss */
  .jumbotron-outer {
    background-position: 60% 70%;
  }

  /* line 874, assetic_compasslCJuYs.scss */
  .jumbotron {
    padding: 3.3rem 1rem;
  }
  /* line 877, assetic_compasslCJuYs.scss */
  .jumbotron h2 {
    font-size: 1.25rem;
  }
  /* line 881, assetic_compasslCJuYs.scss */
  .jumbotron .back-choices + h2 {
    margin-top: 15px;
  }
  /* line 885, assetic_compasslCJuYs.scss */
  .jumbotron .lead {
    font-size: .8rem;
  }

  /* line 890, assetic_compasslCJuYs.scss */
  .home-link {
    background: url("/bundles/app/images/icon/home_mob.png") 50% 50% no-repeat;
    background-size: 23px 18.5px;
    display: inline-block;
    height: 19px;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    text-indent: -999px;
    top: 0;
    width: 23px;
  }

  /* line 903, assetic_compasslCJuYs.scss */
  .breadcrumb {
    display: none;
  }

  /* line 917, assetic_compasslCJuYs.scss */
  .row-main-page {
    margin-top: 2rem;
  }
  /* line 920, assetic_compasslCJuYs.scss */
  .row-main-page > .container {
    width: 100%;
  }

  /* line 925, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom {
    margin-top: 2rem;
  }
  /* line 928, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom p {
    font-size: 1.1rem;
  }
  /* line 931, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom p:first-child {
    margin-top: 1rem;
  }
  /* line 935, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom p.text-primary {
    font-size: 1.4rem;
  }
  /* line 940, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom .btn-cta {
    font-size: .8rem;
  }
  /* line 944, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom .ssl-logo-large {
    height: auto;
    width: 110px;
  }

  /* line 950, assetic_compasslCJuYs.scss */
  .block-text {
    padding: 0 .9rem;
  }
  /* line 953, assetic_compasslCJuYs.scss */
  .block-text p,
  .block-text h1,
  .block-text h2,
  .block-text h3,
  .block-text h4,
  .block-text h5 {
    padding: 0 15px;
  }
  /* line 962, assetic_compasslCJuYs.scss */
  .block-text p {
    font-size: 1rem;
  }
  /* line 965, assetic_compasslCJuYs.scss */
  .block-text p + h3,
  .block-text p + h4,
  .block-text p + h5 {
    margin-top: 1.5rem;
  }

  /* line 973, assetic_compasslCJuYs.scss */
  .page-header-1,
  .block-text h3 {
    font-size: 1.3rem;
  }

  /* line 978, assetic_compasslCJuYs.scss */
  .page-header-2,
  .block-text h4 {
    font-size: 1.2rem;
  }

  /* line 983, assetic_compasslCJuYs.scss */
  .page-header-3,
  .block-text h5 {
    font-size: 1.1rem;
  }

  /* line 990, assetic_compasslCJuYs.scss */
  .modal-tooltip .modal-header .modal-title {
    font-size: 1rem;
  }
  /* line 995, assetic_compasslCJuYs.scss */
  .modal-tooltip .modal-body {
    font-size: .9rem;
  }
  /* line 1000, assetic_compasslCJuYs.scss */
  .modal-tooltip .modal-dialog .modal-content {
    margin: 30px 20px;
    padding: 10px;
  }

  /* line 1008, assetic_compasslCJuYs.scss */
  .cta-buttons-box .btn-cta {
    font-size: .8rem;
    min-width: 290px;
  }
  /* line 1012, assetic_compasslCJuYs.scss */
  .cta-buttons-box .btn-cta.btn-success {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  /* line 1020, assetic_compasslCJuYs.scss */
  .row-main-page {
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 1024, assetic_compasslCJuYs.scss */
  .row-main-page > .col-12 > .container {
    padding: 0;
  }
  /* line 1027, assetic_compasslCJuYs.scss */
  .row-main-page > .col-12 > .container > .row {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1035, assetic_compasslCJuYs.scss */
  .mobile-w-100.container {
    width: 100%;
  }
  /* line 1039, assetic_compasslCJuYs.scss */
  .mobile-w-100.row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 1043, assetic_compasslCJuYs.scss */
  .mobile-w-100.row .card {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
  }

  /* line 1051, assetic_compasslCJuYs.scss */
  .card {
    font-size: .8rem;
  }
  /* line 1054, assetic_compasslCJuYs.scss */
  .card .btn-cta {
    display: inline-block;
    margin-bottom: .2rem;
    width: 100%;
  }
  /* line 1059, assetic_compasslCJuYs.scss */
  .card .btn-cta + .btn-cta {
    margin-left: 0;
  }
  /* line 1063, assetic_compasslCJuYs.scss */
  .card .btn-cta:last-child {
    margin-bottom: 0;
  }

  /* line 1069, assetic_compasslCJuYs.scss */
  .page-header-1,
  .block-text h3 {
    font-size: 1.1rem;
  }

  /* line 1074, assetic_compasslCJuYs.scss */
  .page-header-2,
  .block-text h4 {
    font-size: 1.1rem;
  }

  /* line 1079, assetic_compasslCJuYs.scss */
  .block-text p {
    font-size: .9rem;
  }

  /* line 1083, assetic_compasslCJuYs.scss */
  .cta-buttons-box {
    padding: 20px;
  }

  /* line 1089, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom p b {
    display: inline;
    width: auto;
  }
}
@media (max-width: 575px) {
  /* line 1099, assetic_compasslCJuYs.scss */
  .stop-smoking-london-bottom p {
    font-size: 1rem;
  }
}
