/* line 5, assetic_compassPG3HgQ.scss */
.contact-row {
  margin-top: 1.5rem;
}
/* line 8, assetic_compassPG3HgQ.scss */
.contact-row .col-12 {
  text-align: left;
}
/* line 12, assetic_compassPG3HgQ.scss */
.contact-row .form-control-label {
  color: #1866b8;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
/* line 19, assetic_compassPG3HgQ.scss */
.contact-row .form-control-feedback {
  font-size: .8rem;
  font-weight: 600;
}
/* line 24, assetic_compassPG3HgQ.scss */
.contact-row textarea {
  height: 160px;
  resize: none;
}
/* line 29, assetic_compassPG3HgQ.scss */
.contact-row .submit-inner-row {
  margin: 1.5rem auto 3rem;
  text-align: center;
}
/* line 33, assetic_compassPG3HgQ.scss */
.contact-row .submit-inner-row .btn-cta {
  width: 70%;
}

@media (max-width: 991px) {
  /* line 41, assetic_compassPG3HgQ.scss */
  .block-text h3.text-success {
    font-size: 1.2rem;
  }
  /* line 44, assetic_compassPG3HgQ.scss */
  .block-text p.text-success {
    font-size: .9rem;
  }

  /* line 49, assetic_compassPG3HgQ.scss */
  .contact-row {
    margin-top: .5rem;
  }
}
