<div class="card card-outline-success text-center container-fluid mobile-w-100" id="emailCard">
  <div class="card-block row justify-content-center">
    <div class="col-12 col-md-9">
      <h4>Step 1: Provide email</h4>
      <p>
        If you like, we can update you now and then with new information to help with your quit attempt. Enter <a href="#">your email</a> below to register.
      </p>
      <div class="container-fluid">
        <form action="http://send.silverbackmail.com/t/i/s/clizd/" method="post" id="emailForm">
          <div class="form-group row gutter-sm">
            <div class="col">
              <input class="form-control form-control-lg" type="email" name="cm-clizd-clizd" value="" placeholder="your@email.com" />
              <div class="form-control-feedback text-warning" id="emailError"></div>
            </div>
            <div class="col-12 col-md-auto">
              <button type="submit" class="btn btn-success btn-cta" id="confirmPostcode" href="#">Confirm</button>
            </div>
          </div>
        </form>
        <h4 class="email-thanks" id="emailThanks">Thank you. You'll receive email updates.</h4>
      </div>
    </div>
  </div>
</div>