<div class="row justify-content-center stop-smoking-london-info-row">
  <div class="col-12">
    <div class="stop-smoking-london-bottom container-fluid">
      <div class="row">
        <div class="col-12">
          <img src="{{ asset('bundles/app/images/logo/ssl_large.png') }}" alt="Stop Smoking London Logo" class="ssl-logo-large" />
        </div>
      </div>
      <div class="row row justify-content-center">
        <div class="col-12 col-md-11">
          <p>Stop Smoking London provides a special service for <b>anyone wanting to stop.</b></p>
          <p>You can call a helpline between <b>8am and 10pm</b> and speak to a specially trained advisor. Call this number and just say you are calling from London.</p>
          <p class="text-primary">Stop Smoking London Helpline: <a href="#">0201 234 5678</a></p>
          <a class="btn btn-lg btn-primary btn-cta" href="{{ path('find_out_more') }}">Find out more about stopping</a>
        </div>
      </div>
    </div>
  </div>
</div>