{% extends '@App/base.html.twig' %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row justify-content-center no-gutters row-main-page">
      <div class="col-12">
        <div class="container mobile-w-100">
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-10">
              <div class="row block-text">
                <div class="col-12">
                  <h3>Origins</h3>
                  <p>Stop Smoking London has been developed to support a London-wide initiative to help Londoners to stop smoking. London already has the lowest smoking rates of any city in the UK but much more can be done to help Londoners who want to stop to achieve their goal.</p>

                  <h3>Who's Involved</h3>
                  <p>The Stop Smoking London website is a collaboration between Professor Robert West, one of the world's leading experts on smoking, and British Websites who specialise in websites to help people achieve healthy lives.</p>

                  <h3>Our Aim</h3>
                  <p>The aim of the Stop Smoking London website is to make it as easy as possible for Londoners to find the best way of stopping for them. It has one guiding principle: helping smokers to choose by providing the best possible information.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}