{% extends '@App/base.html.twig' %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row justify-content-center no-gutters row-main-page">
      <div class="col-12">
        <div class="container mobile-w-100">
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-10">
              <div class="row block-text">
                <div class="col-12">
                  <h3>Origins</h3>
                  <p>Some text</p>

                  <h3>Who's Involved</h3>
                  <p>Some text</p>

                  <h3>Our Aim</h3>
                  <p>Some text</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}