{% extends '@App/base.html.twig' %}
{% trans_default_domain "contact" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/local/scss/contact.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row block-text">
      <div class="col-12">
        <h3 class="text-success">{{ 'success_header'|trans|nl2br }}</h3><p class="text-success"><b>{{ 'success_message'|trans|nl2br }}</b></p>
      </div>
    </div>

    {% include '@App/Default/_stop_smoking_london_info.html.twig' %}
  </div>
{% endblock %}