{% extends '@App/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/local/scss/contact.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row block-text">
      <div class="col-12">
        <h4 class="text-success">Thank you for contacting us.</h4><p class="text-success"><b>We will try to get back to your enquiry as soon as we can.</b></p>
      </div>
    </div>

    {% include '@App/Default/_stop_smoking_london_info.html.twig' %}
  </div>
{% endblock %}