{% extends '@App/base.html.twig' %}
{% trans_default_domain "find_out_more" %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row justify-content-center mt-5">
      <div class="col-12">
        <div class="card card-outline-success text-center container-fluid mobile-w-100">
          <div class="card-block row justify-content-center">
            <div class="col-12 col-md-9">
              <h4>
                <img src="{{ asset('bundles/app/images/logo/a_to_z.png') }}" alt="A to Z of Stopping Smoking Logo" style="width: 194px; height: 45px;" />
              </h4>
              <p class="message">{{ 'az_stopping_smoking.text'|trans }}</p>
              <a class="btn btn-lg btn-success btn-cta website-link" href="{{ 'az_stopping_smoking.buttons.0.link'|trans }}" target="_blank">{{ 'az_stopping_smoking.buttons.0.name'|trans }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include '@App/Default/_stop_smoking_london_info.html.twig' %}
  </div>
{% endblock %}