<ol class="news-carousel-indicators">
  <li data-show-index="0" class="active"></li>
  <li data-show-index="1"></li>
  <li data-show-index="2"></li>
</ol>
<ul id="newsCarousel" class="news-carousel">
  <li class="news-panel">
    {% for tweet in tweets|slice(0, 2) %}
      {% include '@App/Default/_home_tweet.html.twig' %}
    {% endfor %}
  </li>
  <li class="news-panel">
    {% for tweet in tweets|slice(2, 2) %}
      {% include '@App/Default/_home_tweet.html.twig' %}
    {% endfor %}
  </li>
  <li class="news-panel">
    {% for tweet in tweets|slice(4, 2) %}
      {% include '@App/Default/_home_tweet.html.twig' %}
    {% endfor %}
  </li>
</ul>