{% extends '@App/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100">
    {% include '@App/Default/_header.html.twig' %}
  </div>
{% endblock %}