{% extends '@App/base.html.twig' %}

{% block page_content %}
<div class="container-fluid h-100 container-lower">
  {% include '@App/Default/_header.html.twig' %}
  <div class="row justify-content-center no-gutters row-main-page">
    <div class="col-12">
      <div class="container mobile-w-100">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="row block-text">
              <div class="col-12">
                <p>This privacy policy sets out how Stop Smoking London uses and protects any information that you give when you use this website.
                  Stop Smoking London is a project set up by London Local Authorities to provide support for smoking cessation beyond what is available at local level and to help Londoners find the best route to quit. At its heart is a web portal london.stopsmokingportal.com which is hosted by Silverback Hosting. Portal users are invited to provide email addresses so that the team can contact them.</p>
                <p>Stop Smoking London is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>
                <p>Stop Smoking London may change this policy from time to time by updating this page. You should check this page to ensure that you are happy with any changes. This policy is effective from 23rd May 2018.</p>

                <h4>Data Controller and Owner</h4>
                <p>Stop Smoking London<br>Dept of Epidemiology and Public Health<br>1-19 Torrington Place<br>London WC1E 6BT<br>United Kingdom</p>
                <p><b>Owner contact email:</b> london@stopsmokingportal.com</p>


                <h4>What we collect</h4>
                <p>We may collect the following information:</p>
                <ul>
                  <li>Your email address</li>
                  <li>Responses to survey questions asking you about your smoking and experiences of using Stop Smoking London services – all this information will be anonymised and not traceable to you</li>
                </ul>

                <h4>What we do with the information we gather</h4>
                <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
                <ul>
                  <li>Internal record keeping.</li>
                  <li>Information to improve our products and services.</li>
                  <li>We may periodically send you emails about new services or other information which we think you may find interesting using the email address which you have provided.</li>
                  <li>From time to time, we may also use your information to contact you for research purposes.</li>
                  <li>We will only contact you by email.</li>
                </ul>

                <h4>Electronic Mail – Opt-in and Opt out</h4>
                <p>In accordance with The Privacy and Electronic Communications (EC Directive) Regulations 2003, you will be given the option to unsubscribe at all times. To unsubscribe from electronic mail-outs, simply follow the unsubscribe link featured on all of our emails.</p>

                <h4>Security</h4>
                <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
                <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

                <h4>Links to other websites</h4>
                <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

                <h4>Controlling your personal information</h4>
                <p>You may request details of personal information which we hold about you under the Data Protection Act 1998 soon to be replaced by the EU’s General Data Protection Regulation (GDPR) in May 2018. If you would like a copy of the information held on you please write to: Freedom of Information (FOI) Request email london@stopsmokingportal.com</p>

                <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}