{% extends '@App/base.html.twig' %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">
    {% include '@App/Default/_header.html.twig' %}

    <div class="row block-text">
      <div class="col-12">
        <h3>Terms and Conditions</h3>
        <p>Some text</p>
        <h4>Header 2</h4>
        <p>Some text</p>
        <h5>Header 3</h5>
        <p>Some text</p>
      </div>
    </div>
  </div>
{% endblock %}